
.opacity::before {
    content: '';
    display:block;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    background-color: #000;
    opacity:0.7;
}
.carousel-caption{
    transform:translatey(-50%);
    top:60%;
    bottom:0;
    

}

